body {
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.logo {
    color: #F9FAF8;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.left, .right {
    display: flex;
    align-items: center;
}

